@charset "utf8";
/*Mobil css*/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(252, 235, 0);
    padding: 10px;
    margin: 0;
    width: auto;
  }

  .grid-item {
    background-color: rgba(215, 243, 88, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 25px;
    text-align: center;
  }

header {
    background-color: rgb(252, 235, 0);
    padding: 20px;
    text-align: center;
    width: auto;
    }
  
  nav {
    overflow: hidden;
    background-color:black;
    padding: 10px;
    width: auto;
    color: white;
    }

  a:link, a:visited {
    background-color:rgba(215, 243, 88, 0.8);
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: black;
    color:whitesmoke;
  }

  footer{
    background-color: black;
    text-align: center;
    width: auto;
  }
  img{
    width: 0px;
  }


/* Del för Dator och skärm storlek över 800 px */
  @media only screen and (min-width: 800px){
    header {
      background-color: rgb(252, 235, 0);
    }

    /* Del för grid och länkar. */
    .grid-container {
      display: grid;
      grid-template-columns: auto auto;
      background-color: rgb(252, 235, 0);
      padding: 35px;
      height: auto;
    }
  
    .grid-item {
      background-color: rgba(215, 243, 88, 0.8);
      border: 3px solid rgba(0, 0, 0, 0.8);
      padding: 20px;
      font-size: 30px;
      text-align: center;
    }
    a:link, a:visited{
      padding: 14px 25px;
    }

    img{
      width: 110px;
    }
    header{
      padding: 50px;
      font-size: 35px;
      font-weight: 900;
    }
  }

  #demo{
    color: white;
  }

  button{
    border-color: black;
    background-color: black;
    color:yellow;
  }

  button:hover{
    background-color: yellow;
    color: black;
  }
  p{
    color: yellow;
  }